@section scripts {
    <script src="~/js/book.js"></script>
}

<div class="row">
    <div class="col-3">
        <label>Yazar</label>
        <input type="text" id="author" class="form-control" />
    </div>
    <div class="col-3">
        <label>Kitap Adı</label>
        <input type="text" id="book" class="form-control" />
    </div>
    <div class="col-3">
        <label>Isbn</label>
        <input type="text" id="isbn" class="form-control" />
    </div>
    <div class="col-3">
        <label></label>
        <button type="button" onclick="SearchBook();">Ara</button>
    </div>
</div>
<br />
<table class="table" id="bookList">
    <thead>
        <tr>
            <th>Kitap Adı</th>
            <th>Yazarı</th>
            <th>Isbn</th>
        </tr>
    </thead>
</table>
