@section Scripts {
    <script src="~/js/book.js"></script>
}

<div class="row">
    <div class="col-2">
        <label>Yazar</label>
        <input type="text" id="author" class="form-control"/>
    </div>
    <div class="col-2">
        <label>Kitap Adı</label>
        <input type="text" id="book" class="form-control"/>
    </div>
    <div class="col-2">
        <label>Isbn</label>
        <input type="text" id="author" class="form-control"/>
    </div>
    <div class="col-2">
        <button></button>
    </div>
</div>